.poke-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.poke-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: solid 2px skyblue;
  max-width: 1000px;
  max-height: 50vh;
  align-items: stretch;
}

.image {
  align-items: center;
  height: 100%;
  max-height: 35vh;
  max-width: 75vw;
}

li {
  list-style: none;
}
