.animal-container {
  display: flex;
  flex-wrap: wrap;
}
.animal-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: solid 2px skyblue;
  width: 50vw;
  align-items: center;
}

.image {
  width: 175px;
  height: 200px;
}
